@import '../../sass/abstracts/mixins';

.weather-form {
    background-color: var(--white-color);
    border: 1px solid var(--grey-dark-color-1);
    border-radius: 3px;
    max-width: 50rem;
    margin: 0 auto;
    margin-top: 2rem;
    position: relative;

    @include respond(phone) {
        width: 90%;
    }

    &>input {
        width: 100%;
        padding: 1rem 1.5rem;
        font-size: 2rem;
        font-family: inherit;
        border: none;

        &:focus {
            outline: none;
        }

        &::placeholder {
            font-weight: 300;
        }
    }

    &>button {
        position: absolute;
        right: 0.5rem;
        top: 50%;
        background-color: transparent;
        border: none;
        color: var(--gray-dark-color-1);
        font-size: 1.6rem;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }
}