@import '../sass/abstracts/mixins';

.header {
    color: var(--white-color);
    padding: 4rem;
    text-align: center;

    @include respond(phone) {
        padding: 2rem;
        text-align: left;
    }
}

.default {
    font-size: 4rem;
}

.big {
    font-size: 6rem;
}