@import '../../sass/abstracts/mixins';

.header {
    color: var(--white-color);
    padding: 3rem;
    text-align: center;

    @include respond(phone) {
        padding: 3rem;
        text-align: left;
    }
}

.default {
    font-size: 4rem;
}

.big {
    font-size: 5rem;
}