@import '../../sass/abstracts/mixins';

.separator-line {
    align-self: center;
    background-color: var(--white-color);
    height: 1px;
    margin-top: 2rem;
    width: 120%;
    max-width: 60rem;
    margin-bottom: 1rem;
    margin-left: -10%;

    @include respond(phone) {
        width: 100%;
        max-width: none;
        margin-left: 0;
    }
}